* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Montserrat:wght@300;400;500;600;700&display=swap");
ul,
ol,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
body {
  width: 100vw;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
/* HEADER */
.cootels__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 37px 0 35px;
}
.cootels__nav {
  display: flex;
  justify-content: space-between;
}
.logo__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */

  color: #192252;
}
.cootels__link {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  transition: all 0.2s ease-in-out;
  color: #192252;
}
.cootels__link:hover {
  color: #192252;
  border-bottom: 2px solid #192252;
}
.cootels__link:last-child {
  margin: 0 32px 0;
}
.btn {
  background: #0e1734;
  border-radius: 4px;
  border: 1px solid #192252;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  border: 2px solid #192252;
  background: none;
  color: #192252;
}
.cootels__btn {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
  padding: 14px 16px;
}
/* MAIN */
.hero__item {
  display: flex;
  justify-content: space-between;
}
.hero__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 215px;
}
.hero__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 150%;
  width: 587px;

  letter-spacing: -0.01em;

  color: #192252;
}
.hero__suptitle {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  width: 485px;
  color: #848fac;
  margin: 24px 0 32px;
}
.main__btn {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 16px 32px;
  color: #ffffff;
}
.hero__img {
  margin-top: 80px;
  margin-bottom: 177px;
}
.hero__img:nth-child(2) {
  margin: 161px 24px 96px;
}

/* ABOUT */
.about__item {
  padding: 80px 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* margin-top:100px; */
}
.about__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  width: 690px;
  letter-spacing: -0.01em;

  color: #192252;
}
.about__suptitle {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  width: 584px;
  color: #848fac;
}
.about__suptitle:last-child {
  margin-top: 16px;
}
.parh__about {
  margin: 24px 0 36px;
}
/* BENEFIT */
.benefit__item {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}
.benefit__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.benefit__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  /* identical to box height, or 54px */

  letter-spacing: -0.01em;
  width: 302px;
  color: #192252;
}
.benefit__title:last-of-type {
  width: 384px;
}
.benefit__suptitle {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  margin-top: 24px;
  width: 584px;
  color: #848fac;
}
.benefit__items:last-child {
  margin-top: 32px;
  padding-bottom: 80px;
}
/* RESERVATION */
.reservation__item {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}
.reservation__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reservation__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  width: 446px;
  text-align: center;
  letter-spacing: -0.01em;
}
.reservation__suptitle {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  width: 588px;
  color: #848fac;
  margin: 24px 0 32px;
}
.reserv__btn {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 16px 32px;
  color: #ffffff;
}
/*CARD  */
.reservation__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 88px 0 80px;
}
.reservation__card {
  display: flex;
  flex-direction: column;
}
.card__title {
  margin-top: 32px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
}
.card__suptitle {
  margin: 16px 0 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  width: 384px;
  color: #848fac;
}
.card__links {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #424f7b;
}

.card__links {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.learn__arrow img {
  margin-left: 14px;
}
.card__link {
  transition: 0.2s ease-in-out;
}
.card__link:hover {
  padding: 0 0 10px;
  box-shadow: 10px 8px 10px 2px rgba(25, 34, 82, 0.31);
}

/* ROOM */
.rooms__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
}
.room__text {
  display: flex;
  flex-direction: column;
}
.room__head_title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #424f7b;
}
.room__title {
  margin-top: 12px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #192252;
}
.room__suptitle {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  width: 384px;
  color: #848fac;
  margin: 24px 0 32px;
}
.room__links {
  display: flex;
  align-items: center;
}
.room__suplink {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-left: 24px;
  color: #0e1734;
}
/* ACCORDION */
.room__accordions {
  filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.07));
}
.accordion {
  background: #ffffff;
  border-radius: 4px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  text-align: left;
  color: #424f7b;
  cursor: pointer;
  padding: 18px;
  width: 588px;
  border: none;
  margin-bottom: 20px;
  transition: 0.4s;
}
.active{
    margin-bottom: 0;
}
.active,
.accordion:hover {
  background: #ffffff;
  border-radius: 4px;
}

/* Доделать завтра  */
.accordion:after {
  content: "";
  position: relative;
  width: 14px;
  height: 14px;
  border: 3px solid #ff620a;
  border-top: none;
  border-left: none;
  float: right;
  margin-left: 5px;
  margin-right: 30px;
  z-index: 2;
  transform: rotate(45deg);

}
/* .accordion::before{
    content: "";
    position: absolute;
    top: 10px;
    right: 36px;
    z-index: 0;
    width:40px;
    height: 40px;
    background: #FFECE2;
    border-radius: 50%;
} */
.active:after {
  content: "";
  border: 3px solid #ff620a;
  border-bottom: none;
  border-right: none;
  margin-top:15px;
}
.panel {
  background-color: white;
  max-height: 0;
  margin-bottom: 20px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.panel p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  width: 516px;
  background-color: white;
  color: #848fac;
  padding:20px

}

/* TESTIMONI */
.testimoni__item {
  display: flex;
  justify-content: center;
  padding: 80px 0 82px;
}
.testimoni__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonis__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  /* identical to box height, or 54px */
  margin-bottom: 62px;
  text-align: center;
  letter-spacing: -0.01em;

  color: #192252;
}
.testimonis__text {
  margin: 40px 0 44px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  width: 793.06px;
  text-align: center;
  color: #848fac;
}
.testimoni__name {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */

  text-align: center;

  color: #192252;
}
/* FOOTER */
.footer {
  padding: 120px 0 120px;
  background: #0b265a;
}
.footer__item {
  display: flex;
  justify-content: space-between;
}
.fot__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */

  letter-spacing: -0.01em;

  color: #ffffff;
}
.logo__suptitle {
  margin: 13px 0 36px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  width: 186px;
  color: #d9dbde;
}
.fab {
  color: white;
  font-size: 36px;
}
.social__link:nth-last-child(2) {
  margin: 0 24px 0;
}
.footer__nav {
  display: flex;
}
.nav__footer_list:nth-last-child(2) {
  margin: 0 151px 0;
}
.name__list {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  margin-bottom: 24px;
  color: #ffffff;
}
.footer__link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #d9dbde;
}
.nav__footer_list li {
  margin-bottom: 24px;
}
